apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Release.Name }}
spec:
  replicas: 1
  selector:
    matchLabels:
      app: my-app
  template:
    metadata:
      labels:
        app: my-app
    spec:
      containers:
        - name: my-app
          image: quay.csssr.cloud/csssr/test-app:{{ .Values.image.tag }}
          imagePullPolicy: Always
          env:
            - name: PORT
              value: "80"
            - name: IMAGE_PATH
              value: /data/image
          ports:
            - containerPort: 80
          volumeMounts:
            - name: data
              mountPath: /data
      volumes:
        - name: data
          persistentVolumeClaim:
            claimName: my-app
